/* --------------------------------PROJECT-PAGE----------------------------------- */


.project_content {
    background-color: var(--color-background-light);
}
.project_content h1 {
    color: var(--color-text-default-dark) !important;
    z-index: 2;
}
.project_content p {
    color: var(--color-text-default-dark);
}
.project_content a {
    text-decoration: underline;
    text-decoration-color: var(--color-background-dark);
}
.project-hero {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-intro h5 {
    color: var(--color-accent);
}
.project-intro h6 {
    font-weight: var(--font-weight-regular);
    text-align: center;
    color: var(--color-text-default-light);
}
.project-intro h3 {
    font-weight: var(--font-weight-regular);
}
.project-image {
    position: relative;
    z-index: 1;
    bottom: 50px;
    max-height: 600px;
    width: 100%;
}
.project-image img{
    border-radius: 10px;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}
.project-description {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "year product industry comment";
    gap: 20px;
}
.year-info {
    grid-area: year;
}
.product-info {
    grid-area: product;
}
.industry-info {
    grid-area: industry;
}
.comment {
    grid-area: comment;
}
.comment h6 {
    color: var(--color-text-default-dark);
    text-align: left;
}
.comment a {
    color: var(--color-accent);
    text-decoration-color: var(--color-accent);
}
.comment a:hover {
    color: var(--color-accent) !important;
    opacity: 0.8;
}
.year-info, .product-info, .industry-info, .comment {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 20px;
}
.product-info h5 {
    text-align: center;
}
.year-info, .product-info, .industry-info {
    background-color: var(--color-background-dark);
    align-items: center;
}

.steps_content {
    background-color: var(--color-background-dark);
}
.steps_content h2 {
    color: var(--color-text-default-light);
}

.mockup-images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 40px;
    max-width: 600px;
}

.mockup-image img {
    border-radius: 10px;
}

.mockup {
    padding: 100px 0;
    background-color: var(--color-background-light);
}
.mockup-image2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    max-width: 600px;
}
.mockup-image2 img {
    border-radius: 10px;
}

#portfolio-project {
    background-color: var(--color-background-light);
    padding-bottom: 100px !important;
}
#portfolio-project h2 {
    color: var(--color-text-default-dark);
    z-index: 2;
}
.more-projects {
    display: flex;
    flex-direction: column;
}
.more-projects h2 {
    line-height: 1 !important;
}
.projects {
    position: relative;
    bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    width: 100%;
}
.projects img {
    border-radius: 10px;
    margin-bottom: 20px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.projects a {
    color: var(--color-text-default-dark);
}
.projects a:hover {
    color: var(--color-text-default-dark) !important;
    text-decoration: none;
}
.projects h6 {
    text-align: center;
}
.projects a:hover {
    h6 {
        color: var(--color-text-default-dark);
    }
}

@media (max-width:768px) {
    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .project-description {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 2fr;
        grid-template-areas:
        "year"
        "product"
        "industry"
        "comment";
        gap: 20px;
    }
    .project-description {
        margin-top: 20px;
    }
    .steps h5 {
        text-align: center !important;
    }
    .year-info, .product-info, .industry-info {
    justify-content: center;
    }
    .comment {
        padding: 0;
        padding-top: 20px;
    }
    .comment a {
        padding-top: 20px;
        margin: 0 auto;
    }
}
