/* CSS Custom Properties */
:root 
{
    --font-family: 'Poppins', sans-serif;
    --font-family-alt: 'Anton', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    
    --color-background-light: #f2f2f2;
    --color-background-dark: #0d1b1e;
    --color-background-special: #e7e7e7;
    --color-accent: #EF8354;
    --color-text-default-light: #f2f2f2;
    --color-text-default-dark: #0d1b1e;
    --color-text-special: #afafaf;

    --fs-sm: clamp(0.8rem, -0.3vw + 0.86rem, 0.62rem);
    --fs-base: clamp(1rem, 0vw + 1rem, 1rem);
    --fs-md: clamp(1.25rem, 0.61vw + 1.13rem, 1.62rem);
    --fs-lg: clamp(1.56rem, 1.76vw + 1.21rem, 2.62rem);
    --fs-xl: clamp(1.95rem, 3.8vw + 1.19rem, 4.24rem);
    --fs-xxl: clamp(2.44rem, 7.35vw + 0.97rem, 6.85rem);
    --fs-xxxl: clamp(3.05rem, 15.4vw + 0.37rem, 15.09rem);
}

/* Set font size and line height */

h1 {
    color: var(--color-accent);
    font-family: var(--font-family-alt);
    font-size: var(--fs-xxxl) !important;
    text-align: center;
    line-height: 1 !important;
}

h2 {
    font-size: var(--fs-xxl) !important;
    font-family: var(--font-family-alt);
    text-align: center;
    line-height: 1;
}

h3 {
    font-size: var(--fs-xl) !important;
    font-family: var(--font-family-alt);
}

h4 {
    font-size: var(--fs-lg) !important;
    font-family: var(--font-family-alt);
    line-height: 1 !important;
}

h5 {
    font-size: var(--fs-md) !important;
    font-family: var(--font-family-alt);
    line-height: 1 !important;
}

h6, button {
    font-size: var(--fs-base) !important;
    font-weight: var(--font-weight-regular) !important;
}

p, a {
    font-size: var(--fs-sm);
    font-weight: var(--font-weight-light);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: var(--font-family);
    line-height: 1.5 !important;
    list-style: none;
}

/* Set body background color */
body {
    background-color: var(--color-background-dark) !important;
}

/* Remove list styles on ul, ol elements with a list role */
ul, li {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth !important;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Set Link and Button */
a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f2f2f2 !important;
}

button {
    border: 0;
}

.button:focus {
    border: none;
    outline: none;
}

button:focus{
    outline:none !important;
}


/* --------------------------------HEADER----------------------------------- */

#header {
    position: fixed;
    width: max-content;
    bottom: 7vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    transition: all .50s ease;
    background: rgba(13, 27, 30, 0.8);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    padding: 0px 8px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 20px;
}

.navbar li {
    display: flex;
    align-items: center;
}

.navbar a, .logo {
    color: var(--color-text-special);
    transition: all .50s ease;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 16px 8px;
}

.navbar a:hover, .logo:hover {
    border: 1px solid var(--color-background-special);
    border-radius: 5px;
    text-decoration: none;
}

.contact-button {
    background-color: var(--color-accent);
    border-radius: 5px;
    border: 1px solid transparent;
    width: 100px;
}

.contact-button a {
    color: #0d1b1e !important;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 8px;
}

.contact-button:hover {
    opacity: 0.9;
}

.contact-button a:hover {
    text-decoration: none;
}

/* --------------------------------HEADER----------------------------------- */


/* --------------------------------HERO----------------------------------- */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* --------------------------------HERO----------------------------------- */


/* --------------------------------ABOUT----------------------------------- */

#about-section {
    background-color: var(--color-background-light);
    border-radius: 30px;
}

#about-section h2 {
    color: var(--color-text-default-dark) !important;
    margin-bottom: 50px;
}

.hello_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px !important;
    padding-top: 200px;
    gap: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
}

.image-intro {
    position: relative;
    bottom: 180px;
    display: flex;
    align-items: end;
    gap: 40px;
    z-index: 2;
    border-radius: 5px;
}

.image-intro img {
    background-color: var(--color-background-dark);
    border-radius: 5px;
    height: 200px;
}

.hello {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello h6 {
    background-color: var(--color-background-dark);
    color: var(--color-text-default-light);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 0;
}

.description {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    z-index: 2;
}

.description h6 {
    max-width: 600px;
    color: var(--color-text-default-dark);
    margin-top: 10px;
}

.scroll-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.what {
    color: var(--color-accent);
}

.when {
    background-color: var(--color-background-dark);
    border-radius: 5px;
    padding: 4px 8px;
    color: var(--color-text-default-light);
}

.item-description h6 {
    color: var(--color-text-default-dark) !important;
    text-align: center;
}

.item-description p {
    margin-bottom: 8px;
}

.about {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 0.5fr 0.25fr 0.25fr 0.5fr;
    grid-template-areas:
    "school download download download city"
    "school tools tools tools jobs"
    "master tools tools tools jobs"
    "master hobby1 hobby2 hobby3 jobs";
    gap: 20px;
    margin: 50px auto;
}

.item {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.item h4, .item h6 {
    text-align: center;
}

.school {
    grid-area: school;
    color: var(--color-text-default-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--color-background-special);
}

.tools {
    grid-area: tools;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-special);
}

.tools_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tool {
    background-color: var(--color-accent);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands{
    color:var(--color-background-dark);
}

.jobs {
    grid-area: jobs;
    color: var(--color-text-default-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--color-background-special);
}

.master {
    grid-area: master;
    color: var(--color-text-default-light);
    background-color: var(--color-background-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.master .item_content {
    align-items: center;
}

.download {
    grid-area: download;
    background-color: var(--color-background-special);
    color: var(--color-text-default-dark) !important;
    border: 2px solid var(--color-background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.download a {
    color: var(--color-text-default-dark);
}

.download a:hover {
    color: var(--color-text-special) !important;
}

.hobby1 {
    grid-area: hobby1;
}

.hobby2 {
    grid-area: hobby2;
}

.hobby3 {
    grid-area: hobby3;
}

.hobby1, .hobby2, .hobby3 {
    background-color: var(--color-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
}

.city {
    grid-area: city;
    background-color: var(--color-background-dark);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.city h6 {
    color: var(--color-text-default-light);
}

/* --------------------------------ABOUT----------------------------------- */



/* --------------------------------SERVICES----------------------------------- */

.accordion {
    width: 100%;
}

.title-section h2 {
    color: var(--color-text-default-light);
}

.accordion h4 {
    color: var(--color-accent);
    margin: 0 !important;
}

input[type="checkbox"] {
    display: none;
    appearance: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-default-light);
}

.accordion-item {
    padding: 1rem;
    background-color: transparent;
    border-bottom: 1px solid var(--color-text-special);
}

.accordion-item:not(:last-child) {
    margin-bottom: 1rem;
}

.accordion-content {
    color: var(--color-text-default-light);
    padding-top: 10px;
}

label {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-text-default-dark);
    cursor: pointer;
    padding: 1rem 0;
}

input[type="checkbox"] ~ label .arrow {
    display: inline-block;
    transition: 0.2s;
}

input[type="checkbox"]:checked ~ label .arrow {
    transform: rotate(90deg);
}

input[type="checkbox"]:checked ~ label {
    color: var(--color-accent);
}

input[type="checkbox"] ~ .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .accordion-content {
     max-height: 100vh;
}

/* --------------------------------SERVICES----------------------------------- */



/* --------------------------------WORKS----------------------------------- */

.work {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 40px;
}

.work img {
    width: 100%;
    transition: all 1s;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-default-light);
    opacity: 0;
    transition: all 0.5s;
    background-color: var(--color-background-dark);
}

.work:hover .caption {
    opacity: 0.9;
    background-color: var(--color-background-dark);
}

.work:hover img {
    transform: scale(1.1);
}

/* --------------------------------WORKS----------------------------------- */


/* --------------------------------CONTACT----------------------------------- */

#contact {
    background-color: var(--color-background-dark);
}

.light {
    color: var(--color-text-default-light);
    font-family: "Anton", sans-serif;
    line-height: 1 !important;
}

.field {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.contact-inputs {
    height: 50px;
    width: 100%;
    max-width: 600px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-weight: 400;
    color: var(--color-text-default-dark);
    border-radius: 5px;
    border: 1px solid var(--color-background-dark);
    font-size: 12px;
}

.contact-left textarea {
    height: 100px;
    padding-top: 15px;
    border-radius: 5px;
    border: 1px solid var(--color-background-dark);
}

.contact-inputs::placeholder {
    color: var(--color-text-special);
}

.send {
    width: 100%;
    max-width: 600px;
    background-color: var(--color-accent);
    color: var(--color-background-dark) !important;
    font-weight: 500 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send:hover {
    opacity: 0.9;
}

/* --------------------------------CONTACT----------------------------------- */

/* --------------------------------FOOTER----------------------------------- */
#footer {
    background-color: var(--color-background-dark);
}

.footer_content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.footer_content a {
    font-size: 12px;
    text-decoration: underline !important;
    text-decoration-color: var(--color-text-special) !important;
    color: var(--color-text-default-light) !important;
}

.footer_content a:hover {
    color: var(--color-accent) !important;
    transition: .5s ease-in-out;
    text-decoration-color: var(--color-accent) !important;
}

/* --------------------------------FOOTER----------------------------------- */



/* Media queries */

@media (max-width: 576px) {
    #header {
        padding: 5px 8px;
    }
    .navbar {
        display: none !important;
    }
}

@media (max-width:768px) {
    .image-intro {
        flex-direction: column-reverse;
        align-items: center;
        bottom: 250px;
        gap: 10px;
        margin-top: 50px;
    }
    .description h6{
        text-align: left !important;
    }
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.5fr 0.5fr 0.5fr 0.2fr 0.2fr 0.2fr 0.2fr;
        grid-template-areas:
        "city"
        "jobs"
        "school" 
        "master" 
        "tools"
        "hobby1"
        "hobby2"
        "hobby3"
        "download";
    }
    .caption {
        opacity: 1 !important;
        background-color: transparent !important;
    }
    .work img {
        opacity: 0.6 !important;
        transition: none;
    }
    .work:hover img {
        transform: none !important;
    }
    .privacy {
        text-align: center;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.2fr 0.2fr;
        grid-template-areas:
        "city city"
        "jobs school"
        "jobs tools"
        "master master" 
        "hobby1 hobby2"
        "hobby3 download";    
    }
    .privacy {
        text-align: center;
    }
}

/* Media queries */






























.special h4 {
    color: var(--color-text-default-dark);
}

.project_content {
    background-color: var(--color-background-light);
}
.project_content h1 {
    color: var(--color-text-default-dark) !important;
    z-index: 2;
}
.project_content p {
    color: var(--color-text-default-dark);
}
.project_content a {
    text-decoration: underline;
    text-decoration-color: var(--color-background-dark);
}
.project-hero {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-intro h5 {
    color: var(--color-accent);
}
.project-intro h6 {
    font-weight: var(--font-weight-regular);
    text-align: center;
    color: var(--color-text-default-light);

}
.project-intro h3 {
    font-weight: var(--font-weight-regular);
}
.project-image {
    position: relative;
    z-index: 1;
    bottom: 50px;
    max-height: 600px;
    width: 100%;
}
.project-image img{
    border-radius: 10px;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}
.project-description {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "year product industry comment";
    gap: 20px;
}
.year-info {
    grid-area: year;
}
.product-info {
    grid-area: product;
}
.industry-info {
    grid-area: industry;
}
.comment {
    grid-area: comment;
}
.comment h6 {
    color: var(--color-text-default-dark);
    text-align: left;
}
.comment a {
    color: var(--color-accent);
    text-decoration-color: var(--color-accent);
}
.comment a:hover {
    color: var(--color-accent) !important;
    opacity: 0.8;
}
.year-info, .product-info, .industry-info, .comment {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 20px;
}
.product-info h5 {
    text-align: center;
}
.year-info, .product-info, .industry-info {
    background-color: var(--color-background-dark);
    align-items: center;
}

.steps_content {
    background-color: var(--color-background-dark);
}
.steps_content h2 {
    color: var(--color-text-default-light);
}

@media (max-width:768px) {
    .project-description {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 2fr;
        grid-template-areas:
        "year"
        "product"
        "industry"
        "comment";
        gap: 20px;
    }
    .project-description {
        margin-top: 20px;
    }
    .steps h5 {
        text-align: center !important;
    }
    .year-info, .product-info, .industry-info {
    justify-content: center;
    }
    .comment {
        padding: 0;
        padding-top: 20px;
    }
    .comment a {
        padding-top: 20px;
        margin: 0 auto;
    }
}








.mockup-images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 40px;
    max-width: 600px;
}

.mockup-image img {
    border-radius: 10px;
}





.mockup {
    padding: 100px 0;
    background-color: var(--color-background-light);
}
.mockup-image2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    max-width: 600px;
}
.mockup-image2 img {
    border-radius: 10px;
}


#portfolio-project {
    background-color: var(--color-background-light);
    padding-bottom: 100px !important;
}
#portfolio-project h2 {
    color: var(--color-text-default-dark);
    z-index: 2;
}
.more-projects {
    display: flex;
    flex-direction: column;
}
.more-projects h2 {
    line-height: 1 !important;
}
.projects {
    position: relative;
    bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    width: 100%;
}
.projects img {
    border-radius: 10px;
    margin-bottom: 20px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.projects a {
    color: var(--color-text-default-dark);
}
.projects h6 {
    text-align: center;
}
.projects a:hover {
    h6 {
        color: var(--color-text-default-dark);
    }
}

@media (max-width:768px) {
    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
}

