/* CSS Custom Properties */
:root 
{
    --font-family: 'Poppins', sans-serif;
    --font-family-alt: 'Anton', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    
    --color-background-light: #f2f2f2;
    --color-background-dark: #0d1b1e;
    --color-accent: #EF8354;
    --color-text-default-light: #f2f2f2;
    --color-text-default-dark: #0d1b1e;
    --color-text-special: #afafaf;

    --fs-sm: clamp(0.8rem, 0.15vw + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vw + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vw + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vw + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vw + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vw + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vw + 2.4rem, 5rem);
    --fs-title: clamp(3rem, 15.727vw + 0.455rem, 15rem);
}

/* Set font size and line height */
h1 {
    color: var(--color-accent);
    font-family: var(--font-family-alt);
    font-size: var(--fs-title) !important;
    text-align: center !important;
    line-height: 1 !important;
}

h2 {
    font-size: var(--fs-xxl);
    color: var(--color-text-default-light);
    font-weight: var(--font-weight-medium) !important;
    font-family: "Anton", sans-serif !important;
}

h3 {
    font-size: var(--fs-xl);
    color: var(--color-text-default-dark);
    font-weight: var(--font-weight-regular) !important;
}

h4, button {
    font-size: var(--fs-lg);
    color: var(--color-accent);
    font-weight: var(--font-weight-regular) !important;
}

h5 {
    font-size: var(--fs-md);
    font-weight: var(--font-weight-light) !important;
    color: var(--color-text-default-light) !important;
}

p, a {
    font-size: var(--fs-sm);
    font-weight: var(--font-weight-light) !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: var(--font-family);
    line-height: 1.4;
    list-style: none;
}

/* Set body background color */
body {
    background-color: var(--color-background-dark) !important;
    line-height: auto;
}

/* Remove list styles on ul, ol elements with a list role */
ul, li {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Set Link and Button */
a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text-special) !important;
}

button {
    border: 0;
}

.button:focus {
    border: none;
    outline: none;
}

button:focus{
    outline:none !important;
}


/* --------------------------------HEADER----------------------------------- */

#header {
    position: fixed;
    width: max-content;
    bottom: 7vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 7px;
    transition: all .50s ease;
background: rgba(13, 27, 30, 0.83);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
    
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-bottom:1px !important;
    width: 100%;
    align-items: center;
}

.navbar a, .logo {
    margin: 0px;
    transition: all .50s ease;
    font-size: 12px;
    padding: 16px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.navbar a:hover, .logo:hover {
    border: 1px solid var(--color-text-special);
    border-radius: 5px;
    text-decoration: none;
}

.navbar a.active {
    color: var(--color-accent);
}

.main {
    margin-left: 12px;
    background-color: #EF8354;
    padding: 16px 16px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.main a {
    color: #0d1b1e !important;
    font-size: 12px;
}

.user {
    display: flex;
    align-items: center;
}

.main:hover {
    opacity: 0.9;
}

.main a:hover {
    text-decoration: none;
}

#menu-icon {
    font-size: 35px;
    color: #f2f2f2;
    cursor: pointer;
    z-index: 1001;
    display: none;
}



@media (max-width: 576px) {
    #header {
        max-width: 200px;
    }
    .navbar {
        display: none !important;
    }

}









/* --------------------------------HEADER----------------------------------- */




/*ABOUT SECTION*/


/* --------------------------------HERO----------------------------------- */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.scroll-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --------------------------------HERO----------------------------------- */



/* --------------------------------ABOUT----------------------------------- */

.about {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
    "item-1 item-2 item-3"
    "item-4 item-5 item-6"
    "item-7 item-8 item-6";
    gap: 20px;
    margin: 100px auto;
}

.item {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.item-1 {
    grid-area: item-1;
    padding-bottom: 0px;
    background-color: var(--color-background-dark);
    display: flex;
    align-items: end;
}

.item-2 {
    grid-area: item-2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--color-text-default-dark);
}

.item-3 {
    grid-area: item-3;
    color: var(--color-text-default-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-text-special);
}

.item-4 {
    grid-area: item-4;
    color: var(--color-text-default-dark);
    background-color: var(--color-background-light);
}

.item-5 {
    grid-area: item-5;
    background-color: var(--color-accent);
    color: var(--color-text-default-dark) !important;
}

.item-6 {
    grid-area: item-6;
    color: var(--color-text-default-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-text-special);
}

.item-7 {
    grid-area: item-7;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item-8 {
    grid-area: item-8;
    color: var(--color-text-default-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-text-special);
}

.activity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tool {
    background-color: var(--color-accent);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands{
    color:var(--color-background-dark);
}

/* --------------------------------ABOUT----------------------------------- */



/* --------------------------------SERVICES----------------------------------- */

.introduction {
    margin: 200px auto 50px auto;
}

.service {
    border-bottom: 1px solid var(--color-text-special);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------------------------------SERVICES----------------------------------- */

/*ABOUT SECTION*/


/*WORK SECTION*/

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image {
    height: 400px;
    width: 400px;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease-out;
}

.image img:hover {
    transform: scale(0.9);
    transition: 0.5s ease-in;
}

.container-button {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    height: 100%;
}

.secondary:hover {
    background-color: #EF8354;
}

.secondary {
    color: var(--color-background-dark);
    border: 0px;
    padding: 16px 32px;
    border-radius: 10px;
    transition: 2s ease-out;
    background-color: var(--color-background-light);
}

/*WORK SECTION*/


/*CONTACT SECTION*/

/* --------------------------------CONTACT----------------------------------- */

#contact {
    padding-top: 100px;
}

.light {
    color: var(--color-text-default-light);
    font-family: "Anton", sans-serif;
    line-height: 1;
}






.field {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.contact-inputs {
    height: 50px;
    width: 100%;
    max-width: 600px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-weight: 400;
    color: var(--color-text-default-dark);
    border-radius: 5px;
    border: 1px solid var(--color-background-dark);
    font-size: 12px;
}

.contact-left textarea {
    height: 100px;
    padding-top: 15px;
    border-radius: 5px;
    border: 1px solid var(--color-background-dark);
}

.contact-inputs::placeholder {
    color: var(--color-text-special);
}

.send {
    width: 100%;
    max-width: 600px;
    background-color: #EF8354;
    color: var(--color-background-dark) !important;
    font-weight: 500 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send:hover {
    opacity: 0.9;
}


/* --------------------------------CONTACT----------------------------------- */

/* --------------------------------FOOTER----------------------------------- */






.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.footer a {
    font-size: 12px;
    text-decoration: underline !important;
    text-decoration-color: var(--color-text-special) !important;
}

.footer a:hover {
    color: #EF8354 !important;
    transition: .5s ease-in-out;
    text-decoration-color: #EF8354 !important;
}



/* --------------------------------FOOTER----------------------------------- */

/*CONTACT SECTION*/


/* Media queries */

@media (max-width:768px) {
    h2 {
        text-align: center;
    }
    h5 {
        text-align: left;
    }
    h1 {
        text-align: center;
    }
    .hero {
        height: auto;
        flex-direction: column;
        gap: 50px;
        margin-top: 100px;
    }
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
        "item-1"
        "item-5"
        "item-7" 
        "item-3" 
        "item-6"
        "item-8"
        "item-2"
        "item-4";
    }
    .image {
        height: auto;
        width: auto;
    }
    .container-button {
        justify-content: center;
    }
    .contact_content {
        grid-template-columns: 1fr;
        margin-top: 100px;
    }
    .contact-left {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 20px;
    }
    
    .privacy {
        text-align: center;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .primary {
        display: none;
    }
    .about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "item-5 item-1"
        "item-7 item-2"
        "item-3 item-6" 
        "item-8 item-4";
    }
    .image {
        height: auto;
        width: auto;
    }
    .footer {
        flex-direction: column;
        gap: 20px;
    }
    .privacy {
        text-align: center;
    }
}

@media (min-width:993px) {
    .primary {
        display: none;
    }
}

/* Media queries */













.special h4 {
    color: var(--color-text-default-dark);
}

.project_content {
    background-color: var(--color-background-light);
}
.project_content h1 {
    color: var(--color-text-default-dark) !important;
}
.project_content p {
    color: var(--color-text-default-dark);
}
.project_content a {
    text-decoration: underline;
    text-decoration-color: var(--color-background-dark);
    ;
}
.project-hero {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-intro h5 {
    color: var(--color-accent);
}
.project-intro h4 {
    font-weight: var(--font-weight-regular);
    text-align: center;
}
.project-intro h3 {
    font-weight: var(--font-weight-regular);
}
.project-image {
    max-height: 600px;
    width: 100%;
}
.project-image img{
    border-radius: 10px;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}
.project-description {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "year product industry comment";
    gap: 20px;
}
.year-info {
    grid-area: year;
}
.product-info {
    grid-area: product;
}
.industry-info {
    grid-area: industry;
}
.comment {
    grid-area: comment;
}
.year-info, .product-info, .industry-info, .comment {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 20px;
}
.year-info, .product-info, .industry-info {
    background-color: var(--color-background-dark);
    align-items:center;

}
@media (max-width:768px) {
    .project-description {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 2fr;
        grid-template-areas:
        "year"
        "product"
        "industry"
        "comment";
        gap: 20px;
    }
    .project-description {
        margin-top: 20px;
    }
    .steps h5 {
        text-align: center !important;
    }
}









.step {
    border-bottom: 1px solid var(--color-text-special);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}














.card .card-img-top {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card {
    background-color: var(--color-background-dark) !important;
    transition: 0.5s ease-out;
    border-radius: 10px !important;
    border: none !important;
}



.card:hover {
    background-color: var(--color-accent) !important;
    transition: 0.5s ease-in;
}


.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#work a:hover {
    text-decoration: none;
}








.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.intro p {
    color: var(--color-text-default-light);
}



#work {
    background-color: var(--color-background-light);
}



.title-section h1 {
    text-align: center;
}















#portfolio {
    background-color: #f2f2f2;
}

#portfolio h1 {
    color: #0d1b1e;
}

#about {
    background-color: var(--color-background-dark);
}

#services {
    background-color: #0d1b1e;
}


.title-section h1 {
    color: var(--color-text-default-light);
}









.accordion {
    width: 100%;
}

.accordion h2 {
    color: var(--color-accent);
}

input[type="checkbox"] {
    display: none;
    appearance: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
}

.accordion-item {
    padding: 1rem;
    background-color: transparent;
    border-bottom: 1px solid var(--color-text-special);

}

.accordion-item:not(:last-child) {
    margin-bottom: 1rem;
}

.accordion-content {
    color: #f2f2f2;
    padding-top: 10px;
}

label {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    color: #0d1b1e;
    cursor: pointer;
    padding: 1rem 0;
}



input[type="checkbox"] ~ label .arrow {
    display: inline-block;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ label .arrow {
    transform: rotate(90deg);
}

input[type="checkbox"]:checked ~ label {
    color: var(--color-accent);
}

input[type="checkbox"] ~ .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .accordion-content {
     max-height: 100vh;
}







